<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <title></title>
</head>

<body>
  <div class="container">
    <header>
      <h1>-- Adrian's Flashcard-o-Tron --</h1>
    </header>

    <div class="login">
      <form action="/" method="post">
        <h2>Please login to play!</h2>
        <p>User ID: <input type="text" value="your user id" name="u_id" size="23" align="right"></p>
        <p>Password: <input type="password" name="u_password" align="right"></p>
        <p><input type="submit" value="Login" width="48" height="20"></p>
      </form>
    </div>
    <br></br>
    <div class="footer">
      Copyright &copy; 2015 Ad(ri)a(r)n Inc.
    </div>
  </div>
</body>